a {
    text-decoration: none; 
    text-size: 20px;
}

a:hover {
    text-decoration: underline;
}

ul {
    width: 300px;
    list-style: none; 
    font-size: 1em; 
}

li {
    color: #DCDCDC;
    text-align: center;
    border: 1px solid #DCDCDC;
    margin-left: 20px;
}

ul li.blog{
    color: black;
    background-color: #DCDCDC;
    padding-left: 1px;   
    font-size: 1em;
    margin-bottom: 1em;
}

hr {
    color: #DCDCDC;
}

div#container{
    margin: 0;
    padding: 0;
    width:100%;
}


div#header{
    margin: 0;
    padding: 0;
    background: #DCDCDC;
    clear: both;
    margin-bottom: 20px;
    height: 40px;
}

div#menu{
    float: left;
}

div#content{
    float: left;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
